# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos Virtuales
.venv
venv/
ENV/

# Variables de Entorno (¡SEGURIDAD!)
.env

# IDEs
.vscode/
.idea/

# Logs y Bases de Datos locales
*.log
mlruns/
mlflow.db

# OS
.DS_Store
Thumbs.db
