name: CI Pipeline (Tests)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Install dependencies
      run: poetry install

    - name: Run Tests
      # Definimos variables dummy para que no falle al no encontrar el .env
      env:
        OPENAI_API_KEY: "sk-dummy-key-for-testing"
        MLFLOW_TRACKING_URI: "http://localhost:5000"
        REDIS_HOST: "localhost"
      # Importante: ejecutamos solo la carpeta tests para ignorar notebooks
        PYTHONPATH: .   # <--- ¡AÑADE ESTA LÍNEA!
    run: poetry run python -m pytest tests